* {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
}

div {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

p {
    color: white;
    font-size: 25px;
    -webkit-user-select: none;
    user-select: none;
    transition: opacity 10s ease-in-out;
}